* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  overflow-x: block;
}

.caixap{
  display: flex;
justify-self: center;
gap: 200px;
}
.caixap>img{
  width: 40px;
 
}
.pesquisa{
  background-color: #00732C;
  padding: 16px;
}
input{
  width: 480px;
  border-radius: 20px;
  font-size: 16px;
padding: 6px;
margin-right: 100px;
}


.menu{
display: flex;
background-color: #144714;
gap: 10px;
 box-shadow: 0 4px 6px rgba(22, 65, 1, 0.742);

}

 .navegador{
list-style-type: none;
 display: flex;
margin: auto;
justify-content: center;
 gap: 100px;
padding: 20px;
 }
a{
text-decoration: none;
color: #FFEEF1;
 position: relative;
 padding-bottom:10px;
 }
a:hover{
 color: #FFFFBE;
 transition: 1s;
}
a::after{
 content: " ";
 width: 0%;
 height: 3px;
border-radius: 10px;
background-color: #FFFFBE;
 position: absolute;
 bottom: 0;
 left: 0;
 transition: 0.5s ease-in-out;
 }
a:hover::after{
 width: 100%;
}


img{
  width: 200px;
  border-radius: 20px;
}

img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.img-map{
  width: 100%;
  margin-bottom: 24px;
  margin-right: 40px;
}

.contato-img{
  width: 160px;
  height: 200px;
}

.contato {
  text-align: center;
  background-color: #f6f2bb;
  padding: 40px 20px;
}

.contato h2 {
  background-color: #2b6b2b;
  color: white;
  padding: 15px;
  margin-bottom: 30px;
}

.contato-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.contato .item {
  background-color: #fff9d6;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  background-color: #144714;
  color: white;
  padding: 40px 20px 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 200px;
}

.footer-logo img {
  width: 80%;}

.footer-column h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #9ad59a;
  display: inline-block;
}

.footer-column p {
  margin-top: 5px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #9ad59a;
  padding-top: 10px;
  font-size: 14px;
}