*{
  margin: 0px;
  padding: 0px;
}
:root{
  --colorfundo:#FFFFBE;
}
body{
  background-color: #FFFFBE;
  font-family: "Poppins", sans-serif;
}

.caixap{
  display: flex;
justify-self: center;
gap: 200px;
}
.caixap>img{
  width: 40px;
 
}
.pesquisa{
  background-color: #00732C;
  padding: 16px;
}
input{
  width: 480px;
  border-radius: 20px;
  font-size: 16px;
padding: 6px;
margin-right: 100px;
}


.menu{
display: flex;
background-color: #144714;
gap: 10px;
 box-shadow: 0 4px 6px rgba(22, 65, 1, 0.742);

}

 .navegador{
list-style-type: none;
 display: flex;
margin: auto;
justify-content: center;
 gap: 100px;
padding: 20px;
 }
a{
text-decoration: none;
color: #FFEEF1;
 position: relative;
 padding-bottom:10px;
 }
a:hover{
 color: #FFFFBE;
 transition: 1s;
}
a::after{
 content: " ";
 width: 0%;
 height: 3px;
border-radius: 10px;
background-color: #FFFFBE;
 position: absolute;
 bottom: 0;
 left: 0;
 transition: 0.5s ease-in-out;
 }
a:hover::after{
 width: 100%;
}

   
footer {
  background-color: #144714;
  color: white;
  padding: 40px 0px 10px;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 200px;
}

.footer-logo img {
  width: 80%;}

.footer-column h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #9ad59a;

}

.footer-column p {
  margin-top: 5px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #9ad59a;
  padding-top: 10px;
  font-size: 14px;
}

img{
  width: 200px;
  border-radius: 20px;
}

img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.fila1{
  justify-content: center;
  display: flex;
  gap: 120px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.fila2{
  justify-content: center;
  display: flex;
  gap: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
}
.fila3{
  justify-content: center;
  display: flex;
  gap: 110px;
  margin-top: 40px;
  margin-bottom: 40px;
   margin-left: 50px;
}

.fila4{
  justify-content: center;
  display: flex;
  gap: 130px;
  margin-top: 40px;
    margin-bottom: 40px;
}
button{
  width: 120px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #2b6b2b;
  color: #FFFFBE;
  border: none;

}
button:hover{
 background-color: #88e36f;
  color:#144714;
  transition: 0.5s;
  transform: scale(1.1);
  transition: 0.5s;
}